*{
  // font-size: small;
  margin: 0;
  padding: 0;
}
.navbar{
  background-color: #6a75a2;
}
.home{
  // background-color: #adb8e3;
  background-image: (url(/images/backg1.gif));
  min-height: 90vh;
}
.card-box{
  margin-top: 33px;
}
